<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>ERWatch - Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link href="/css/style.css" rel="stylesheet">

</head>
<body>
  <% include ../common/nav %>

  <div class="large-padding-top container">
    <div class="row">
      <div class="col s12">
        <a href="/dashboard/add-patient"class="btn red darken-1">Add new patient</a>
      </div>
      <div class="col s12">
        <p class="flow-text">Patient<% if (visitsBeingTreated.length !== 1) { %>s<% } %> currently being treating</p>
      </div>

      <% if (visitsBeingTreated.length === 0) { %>
        <div class="col s12">
          <p>There are no patients who are currently being examined by a doctor</p>
        </div>
      <% } else { %>
        <% visitsBeingTreated.forEach(function(visit, i) { %>
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <span class="card-title">
                  <%= visit.patient.firstName %> <%= visit.patient.lastName %>
                </span>
                <p class="grey-text text-darken-1">
                  Approximate time remaing: <%= visit.timeUntilFinished %> minutes
                </p>
                <p class="grey-text text-darken-1">
                  Reason for visit: <%= visit.condition.name %> (Severity <%= visit.condition.severity %>)
                </p>
                <p class="grey-text">
                  Arrival time: <%= visit.arrivalTime.toLocaleTimeString('en-US', { weekday: "long", year: "numeric", month: "short", day: "numeric", hour: "2-digit", minute: "2-digit" }) %>
                </p>
                <p class="grey-text">
                  Admission time: <%= visit.admitTime.toLocaleTimeString('en-US', { weekday: "long", year: "numeric", month: "short", day: "numeric", hour: "2-digit", minute: "2-digit" }) %>
                </p>
                <p class="padding-top">
                  <%= visit.description %>
                </p>
              </div>
              <div class="card-action">
                <a href="#">Mark as treated</a>
              </div>
            </div>
          </div>
        <% }); %>
      <% } %>
    </div>

    <div class="row">
      <div class="col s12">
        <p class="flow-text">Patient<% if (queue.length !== 1) { %>s<% } %> waiting to be treated</p>
      </div>

      <% if (queue.length === 0) { %>
        <div class="col s12">
          <p>There are no patients who are waiting to see a doctor at the moment</p>
        </div>
      <% } else { %>
        <% queue.forEach(function(visit, i) { %>
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <span class="card-title">
                  <%= visit.patient.firstName %> <%= visit.patient.lastName %>
                </span>
                <p class="grey-text text-darken-1">
                  Reason for visit: <%= visit.condition.name %> (Severity <%= visit.condition.severity %>)
                </p>
                <% if (visit.totalWaitTime > 0) { %>
                  <p class="grey-text text-darken-1">
                    Approximate wait time: <%= visit.totalWaitTime %> minutes
                  </p>
                  <p class="grey-text text-darken-1">
                    Approximate time to treat patient: <%= visit.condition.waitTime %> minutes
                  </p>
                <% } else { %>
                  <p class="grey-text text-darken-1">
                    It will be <%= visit.patient.firstName %> <%= visit.patient.lastName %>'s turn shortly
                  </p>
                <% } %>
                <p class="grey-text">
                  Arrival time: <%= visit.arrivalTime.toLocaleTimeString('en-US', { weekday: "long", year: "numeric", month: "short", day: "numeric", hour: "2-digit", minute: "2-digit" }) %>
                </p>
                <p class="grey-text">
                  Access code: <%= visit.code %>
                </p>
                <p class="padding-top">
                  <%= visit.description %>
                </p>
              </div>
              <div class="card-action">
                <a href="#">Mark as treated</a>
              </div>
            </div>
          </div>
        <% }); %>
      <% } %>
    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  <script>
    $(document).ready(function() {

    });
  </script>
</body>
</html>
